<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>404 page</title>
<link rel="stylesheet" type="text/css" href="css/style.css"></head>
<body>
    <div class="main-content">
     {{> Header}}
    <p>{{errormessage}}</p>
    </div>
        {{> footer}}
    
    
</body>
</html>