<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>About Page</title>
   
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div class="main-content">
      {{> Header}}
      <p><b>This</b> site was created by Abdishukri Yussuf and it uses data from mapbox.com and darksky.net</p>
   <img src="imgs/shukri.jpg" class="portrait">
    </div>
   
        {{> footer}}
   
</body>
</html>